
<form class="mat-card p-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
  [formGroup]="form" style="width: 500px">

  <div class="h2 mb-24">Add Item</div>

  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

    <mat-form-field class="pl-24" style="width: 100%;">
      <mat-select placeholder="Item Name" formControlName="popupItemName">
        <mat-option *ngFor="let item of items" [value]="item.value">
          {{item.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

    <mat-form-field appearance="standard" class="pl-24">
      <mat-label>Quantity</mat-label>
      <input matInput placeholder="Qty" formControlName="popupQty" >
    </mat-form-field>
  
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

    <mat-form-field style="width: 100%;" class="pl-24">
      <textarea matInput placeholder="Remarks" formControlName="popupRemarks"></textarea>
    </mat-form-field>


  </div>
  <button mat-raised-button color="accent" class="m-24" (click)="onAddItem();"> Add </button>

</form>